.card {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem;
    padding: 1rem;
}
.cart-image {
    width: 200px;
    height: 200px;
}
.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-name {
    font-size: 1.2rem;
}
.card-category {
    font-size: 0.8rem;
    color: #999;
    font-weight: bold;
}
.card-description {
    font-size: 0.9rem;
}
.card-price {
    font-size: 1.4rem;
    font-weight: bold;
}
.card-stock {
    font-size: 0.8;
    color: #212121;
}

.card-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.card-button-minus {
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.card-button-minus:hover {
    background-color: #eee;
    color: #000;
    font-weight: bold;
}

.card-button-minus:disabled {
    background-color: #eee;
    color: #eee;
    cursor: not-allowed;
}

input {
    text-align: center;
}

.card-input {
    width: 2rem;
    height: 2rem;
    border: 1px solid #999;
    font-size: 1rem;
    margin: 0 0.5rem;
}
.card-button-plus {
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.card-button-plus:hover {
    background-color: #eee;
    color: #000;
    font-weight: bold;
}

.card-button-plus:disabled {
    background-color: #eee;
    color: #eee;
    cursor: not-allowed;
}

.card-button {
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 4px;
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.card-button:hover {
    background-color: #eee;
    color: #000;
    font-weight: bold;
}

.card-button:disabled {
    background-color: #eee;
    color: #000;
    cursor: not-allowed;
    font-weight: normal;
}