.card {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem;
    padding: 1rem;
}
.cart-image {
    width: 200px;
    height: 200px;
}
.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-name {
    font-size: 1.2rem;
}
.card-category {
    font-size: 0.8rem;
    color: #999;
    font-weight: bold;
}
.card-description {
    font-size: 0.9rem;
}
.card-price {
    font-size: 1.4rem;
    font-weight: bold;
}
.card-stock {
    font-size: 0.8;
    color: #212121;
}